* { font-family: 'Montserrat', sans-serif, monospace, 'Dancing Script', cursive;
color: aliceblue;
transition: 0.2s cubic-bezier(.43,.28,0,1.01);
} 
html {
    scroll-behavior: smooth;
}
a {
    display: contents;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--bgBolor); 
}

::-webkit-scrollbar-thumb {
    background: #44535b; 
    border-radius: 6px; 
}


::-webkit-scrollbar-thumb:hover {
    background: #546a76;
}

::selection {
    background-color: var(--selectColor); 
    color: aliceblue;
}
:root {
    --mainHeading: 50px;
    --subHeading: 35px;
    --smallFont: 16px;
    --themeColor: #28c1e0;
    --bgBolor: #161c1e;
    --boxColor: #21272a;
    --selectColor: #44535b;
    --hoverColor: #05333c;
}
h1 {
    font-size: var(--mainHeading);
}
body {
    background-color: var(--bgBolor);
    margin: 0;
    position: relative;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    height: 8vh;
    display: flex;
        justify-content: space-between;
    margin: 1vh 0 11vh 0px;
    /* padding: 0 20px 0 20px; */

}
.logo {
    width: 160px;
    cursor: pointer;
    padding: 0 0 0 20px;

}

ul {
 font-size:var(--smallFont);
 text-decoration: none;
 list-style: none;
 margin: 0;
 gap: 2%;
 padding: 0;
}
li {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
} 
.resume {
 border: 1px solid var(--themeColor);
 border-radius: 4px;
 padding: 8px;
 background-color: var(--bgBolor);
 font-size: var(--smallFont);
 transition: 0.2s cubic-bezier(.43,.28,0,1.01) ;
}  
li:not(.slash, .resume)::after {
    content:'';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 60%;
    left: -40%;
    background-color: var(--themeColor);
    border-radius: 50%;
    transition: 0.2s cubic-bezier(.43,.28,0,1.01);
    transform: scaleX(0);
}
li:not(.slash):hover::after {
    transform: scaleX(1) translate(100%);
    color: var(--themeColor);
}
.resume:hover {
    background-color: var(--hoverColor);
}
.resume:not(#navResume):hover {
    transform: translateY(-3px);}
    
#helloBtn {
    z-index: 1;
    margin-top: 70px;
}
li:not(.slash):hover {
    color: var(--themeColor);
}
.slash {
    cursor: default;
    user-select: none;
}
.headerItems {
    width: 60%;
    height: 100%;
    display: flex;
        justify-content: center;
        align-items: center ;
    padding-right: 2%;
}


.hero {
    height: 72vh;
    width: 100vw;
    display: flex;
        justify-content: space-evenly;
    margin: 0 0 8vh 0;
}

.mainImage img {
width: 330px;
}
.heroText {
    width: 35%;
}

/* #name {
    position: relative;
} */

#code {
    font-family: monospace;
    font-size: var(--subHeading);
    color: var(--themeColor);
}
#creativity {
    font-family: Dancing Script;
    font-size: calc(var(--subHeading)*1.2);
    color: var(--themeColor);
}
.companiesPanel {
    height: 200px;
    width: 100vw;
    background: linear-gradient(to right, var(--boxColor), var(--hoverColor));
    display: flex;
        justify-content: center;
        align-items:center;
    }
    .slideWrap {
        height: 22%;
        width: 80vw;
        display: flex;
            justify-content: center;
            align-items:center;
            
        /* overflow: auto; */
        /* scroll-snap-type: x mandatory; */
    }

.slider {
    height: 100%;
    width: 80vw;
    display: flex;
        justify-content: space-evenly;
        align-items:center;
    /* scroll-snap-align: start;
    object-fit: cover; */
}
    .moreHeight{
        height: 200%;
    }
    .square {
        height: 130%;
    }
.slider img:not(.moreHeight, .square), .slide2 img:not(.moreHeight, .square){

    height: 100%
}
.slider2 {
    display: none;
}

.servicesContainer, .chooseMe, .getInTouch {
    height: 65vh;
    width: 100vw;
    display: flex;
        justify-content: center;
        align-items: center;
    padding: 20vh 0 0 0;
}
.getInTouch{
    padding-top: 10vh;
    margin-bottom: 10px;
}
.whatIDo {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    top: 0;
    margin-bottom: 30px;
    
}
.whatIDo::after {
    content:'';
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 40%;
    left: 30%;
    background-color: var(--themeColor);
}
.services {
    height: 550px;
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
/* .chooseMe .services{
    height: 450px;

} */

.services span {
    color: var(--themeColor);
}
.servicesBox {
    height: 35%;
    width: 100%;
    padding: 5vh 0 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.darkBox {
    height: 200px;
    width: 180px;
    background: linear-gradient(0deg, var(--boxColor), transparent);

    display: flex;
        flex-direction: column;
        align-items: center;    
    border-radius: 15px;
    padding: 20px 10px 15px;
    transition: 0.2s cubic-bezier(.43,.28,0,1.01);
    cursor: default;
}
.darkBox p {
    font-size: small;
}
.darkBox:hover {
    background-color: var(--hoverColor);
}


.servicesBox img {
    width: 50px;
}
.icons {
    height: 20%;
    width: 80%;
    display: flex;
        justify-content: center;
        align-items: center;
}
.icons img {
    width: 15px;
    border-radius: 4px;
    /* border: 1px solid rgb(18, 117, 132); */
    margin: 5px;
}
#blockchain {
    position: relative;
}
#early {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: var(--themeColor);
    font-size: x-small;
    cursor: default;
}
.seeProjects {
    height: 50px;
    width: 50%;
    display: flex;
        justify-content: center;
        align-items: center;
}
.seeProjects img {
    width: 12px;
    margin-left: 5px;
}
.chooseMe {
    background-color:var(--bgBolor);
}
.socials {
    height: 30vh;
    width: 100%;
    position: absolute;
        bottom: 0;

}
.socialIcons {
    height: 100%;
    position: absolute;
        left: 3vw;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}
.mail {
    height: 100%;
    position: absolute;
        right: 4vw;
    display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;  
}
.socialIcons img {
    width: 15px;
}
#mail {
    transform-origin: 100% 50%;
    transform: rotate(90deg);
    font-size: small;
    cursor: vertical-text;
}
.vLine {
    height: 40%;
    width: 1px;
    background-color: aliceblue;
}
.developed {
    position: absolute;
    bottom: 0;
    font-size: small;
}
@media only screen and (min-width: 600px) {
    .navbar.mobile {
        display: none;
    }

    }
@media only screen and (max-width: 600px){
    :root {
        --mainHeading: 32px;
        --subHeading: 25px;
        --smallFont: 15px;
    }
    p {
        font-size: small ;
    }
    #devAndDesign {
        margin: -20px 0 35px 0;
    }
    .hero {
        flex-direction: column;
            justify-content: space-around;
            align-items: center;
        position: relative;
        /* margin: 0 0 8vh 0; */

    }
    /* .mainImage  {
        position: absolute;
        left: -60px;
    } */
    .mainImage img {
        width: 200px;
        }
    .heroText {
    width: 90%;
    height: 80%;
    text-align: center;
    }
    /* .heroText h1 {
        margin: 0;
    } */
    .companiesPanel {
        height: 150px;
    }
    .slideWrap {
        margin-top: -20px;
    }
    .slider{
        flex-wrap: wrap;
        gap: 10px;
    }
    .moreHeight{
        height: 90%;
    }
    .square {
        height: 80%;
    }
    .slider img:not(.moreHeight, .square), .slide2 img:not(.moreHeight, .square){     
        height: 70%
    }

    .servicesBox img {
        width: 35px;
    }
    .icons img {
        width: 15px;
    }
    h3 {
        font-size: medium;
    }
    .servicesContainer {
        height: 900px;
        /* margin-top: 150px; */
        padding-top: 160px;

    }
    .services {
        height: 100%;
        width: 75vw;
    }
    .servicesBox {
        height: 50%;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .darkBox {
        height: 150px;
        width: 100%;
    }
    .seeProjects {
        width: 130%;
    }
    .chooseMe {
        padding: 0;
    }
    .ChoosePara {
        margin-bottom: 70px;
    }
    .whatIDo {
        margin-bottom: 10px;  
    }
    .getInTouch {
        padding-top: 160px;
    }
    .headerItems.desktop {
        display: none;
        }
    .headerItemsMobile {
        position: fixed;
            top: -7px;
            right: 0px;
            padding-top: 20px;
        width: 100%;
        height: 100vh;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;
            font-size: medium;
        background-color: #05333c;
        overflow: hidden;
        z-index: 2;
        transition: 0.4s cubic-bezier(.43,.28,0,1.01);
        transform: translateX(100%);
    }
    .headerItemsMobile.open {
        transform: translateX(0);
    }
    .slash {
        display: none;
    }
    .hamburger {
        position: absolute;
            top: 20px;
            right: 10px;
        width: 20px;
        z-index: 3;
        display: none;

    }
    .hamburger.cross {
        position: fixed;
        display: none;
        width: 24px;
    }
    .logo {
        width: 130px;
    }
}