* { font-family: 'Montserrat', sans-serif, monospace, 'Dancing Script', cursive;
color: aliceblue;
transition: 0.2s cubic-bezier(.43,.28,0,1.01);
text-align: center;
}
a {
    display: contents;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--bgBolor); 
}
::-webkit-scrollbar-thumb {
    background: #44535b; 
    border-radius: 6px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #546a76;
}    
::selection {
    background-color: var(--selectColor); 
    color: aliceblue;
}
:root {
    --mainHeading: 40px;
    --subHeading: 35px;
    --smallFont: 16px;
    --themeColor: #28c1e0;
    --bgBolor: #161c1e;
    --boxColor: #21272a;
    --selectColor: #44535b;
    --hoverColor: #05333c;
}
.Designhero h1 {
    font-size: var(--mainHeading);
}
h1 {
    font-size: var(--mainHeading);
}
body {
    background-color: var(--bgBolor);
    margin: 0;
    position: relative;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    height: 8vh;
    display: flex;
        justify-content: space-between;
    margin: 1vh 0 11vh 0px;
    /* padding: 0 20px 0 20px; */

}
.logo {
    width: 160px;
    cursor: pointer;
    padding: 0 0 0 20px;

}

ul {
 font-size:var(--smallFont);
 text-decoration: none;
 list-style: none;
 margin: 0;
 gap: 2%;
 padding: 0;
}
li {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
} 
.resume {
 border: 1px solid var(--themeColor);
 border-radius: 4px;
 padding: 8px;
 background-color: var(--bgBolor);
 font-weight: 600;
 text-shadow: 0px 0px 8px #161c1e;
 font-size: var(--smallFont);
 transition: 0.2s cubic-bezier(.43,.28,0,1.01) ;
 cursor: pointer;
}  
li:not(.slash, .resume)::after {
    content:'';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 60%;
    left: -40%;
    background-color: var(--themeColor);
    border-radius: 50%;
    transition: 0.2s cubic-bezier(.43,.28,0,1.01);
    transform: scaleX(0);
}
li:not(.slash):hover::after {
    transform: scaleX(1) translate(100%);
    color: var(--themeColor);
}
.resume:hover {
    background-color: var(--hoverColor);
}
.resume:not(#navResume):hover {
    transform: translateY(-3px);}
    
#helloBtn {
    z-index: 1;
    margin-top: 70px;
}
li:not(.slash):hover {
    color: var(--themeColor);
}
.slash {
    cursor: default;
    user-select: none;
}
.headerItems {
    width: 60%;
    height: 100%;
    display: flex;
        justify-content: center;
        align-items: center ;
    padding-right: 2%;
}
.Designhero {    
    height: 80vh;
    width: 100vw;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    margin: 1vh 0 8vh 0;
    text-align: center;
    position: relative;
    /* overflow-y: hidden; */
}
    #centerHheading {
        font-size: var(--mainHeading);
        z-index: 4;
        position: absolute;
        cursor: default;
    }
    .neutron {
        width: 490px;
        height: 490px;
        position: absolute;
        display: flex;
            justify-content: center;
            align-items: center;
        position: relative;
        border-radius: 50%;
        z-index: 1;
        transform: scale(0.5);
        transition: 0.2s cubic-bezier(.43,.28,0,1.01) ;
    }
    .light {
        width: 450px;
        height: 450px;
        position: absolute;
        background-color: var(--themeColor);
        filter: blur(190px);
        opacity: 0.8;
        z-index: -2;
    }
    .light:hover, .neutron:hover {
        transform: scale(1);
        opacity: 0.8;
    }
    .PS_electon {
        width: 25%;
        /* background-color: rgb(90, 106, 106);     */
        position: absolute;
        /* border: 1px dashed var(--themeColor); */
        border-radius: 50%;
        padding: 110px;
        animation: rotationClock 9s infinite linear;
    }
        .PS_electon::before{
            content: url("Assets/ps.svg");
            filter: blur(1px);
            width: 32px;
            position: absolute;
            left: 0px;
            top: 0px;    
            border-radius: 50%;
            animation: rotationAntiClock 7s infinite linear;
            opacity: 0.9;
        }

    .AI_electon {
            width: 50%;
            position: absolute;
            /* background-color: #05333c;   */
            padding: 110px;
            /* border-radius: 50%; */
            animation: rotationClock 17s infinite linear;
        }
        .AI_electon::before{
            content: url("Assets/illustrator.svg");
            filter: blur(1px);
            width: 28px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            border-radius: 50%;
            animation: rotationAntiClock 8s infinite linear;
            opacity: 0.8;
        }
    .ID_electon {
            width: 60%;
            /* background-color: rgb(90, 106, 106); */
            position: absolute;
            /* border: 12px dotted deeppink; */
            padding: 110px;
            border-radius: 50%;
            animation: rotationClock 25s infinite linear;
        }
        .ID_electon::before{
            content: url("Assets/indesign.svg");
            filter: blur(1px);
            width: 26px;
            /* background-color: deeppink; */
            position: absolute;
            left: 0px;        
            top: -50px;
            border-radius: 90px;
            animation: rotationAntiClock 15s infinite linear;
            opacity: 0.7;
        }
    .figma_electon {
            width: 75%;
            /* background-color: rgb(90, 106, 106); */
            position: absolute;
            padding: 110px;
            /* border-radius: 50%; */
            animation: rotationClock 40s infinite linear;
        }
        .figma_electon::before{
            content: url("Assets/figma.svg");
            filter: blur(1px);
            width: 20px;
            position: absolute;
            right: 0px;        
            top: -50px;
            border-radius: 50%;
            animation: rotationAntiClock 14s infinite linear;
            opacity: 0.6;
        }
    .CANVA_electon {
            width: 85%;
            /* background-color: rgb(90, 106, 106); */
            position: absolute;
            padding: 110px;
            /* border: 1px solid #161c1e; */
            /* border-radius: 50%; */
            animation: rotationClock 52s infinite linear;
        }
        .CANVA_electon::before{
            content: url("Assets/canva.svg");
            filter: blur(0.5px);
            width: 22px;
            position: absolute;
            right: 0px;        
            bottom: -50px;
            border-radius: 50%;
            animation: rotationAntiClock 8s infinite linear;
            opacity: 0.5;
        }
@keyframes rotationClock {
0% {
    transform: rotate(360deg);
}
}
@keyframes rotationAntiClock {
0% {
    transform: rotate(-360deg);
}
}

.logos, .posterDiv {
    height: 250vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
        justify-content: space-around;
        align-items: center;
    margin: 0 0 8vh 0;
}
.posterDiv {
height: 120vh;
margin: 0;
padding-bottom: 150px;
}
.logoHeading {
    height: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    margin: 0 0 10px 0;
}
.logos p, .logos h1 {
margin: 0 auto;
}
.HeadingProject {
    padding-top: 70px;
    /* padding: 0; */
    cursor: pointer;
    position: relative;
    top: 0;
    margin-bottom: 5vh;    
}
.HeadingProject::after {
    content:'';
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 40%;
    left: 30%;
    background-color: var(--themeColor);
}
.pacificCalm, .aayu {
    height: 35%;
    width: 80%;
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    margin-bottom:50px ;
}
.titles {
    /* height: 10%; */
    width: 70%;
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    cursor: default;
}
.titles p {
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.titles p::after {
    content:'';
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 60%;
    left: -40%;
    background-color: var(--themeColor);
    border-radius: 50%;
    transition: 0.2s cubic-bezier(.43,.28,0,1.01);
    transform: scaleX(0);
}
.titles p:hover::after {
    transform: scaleX(1) translate(100%);
    color: var(--themeColor);
}
.titles p:hover, .preview.hover,  .preview2.hover {
    color: var(--themeColor);
}

.slides {
    height: 500px;
    width: 900px;
    display: flex;
        justify-content: center;
        gap: 10%;
        transition: all 1s ease;
        animation: slideit 1s linear 0s 1 ;
        border-radius: 30px;
    /* overflow: scroll; */
    }
.slide, .slide2 {
    height: 500px;
    width: 900px;
    object-fit: contain;
    border-radius: 15px;
} 

.slide.preview {
    content: url(Assets/pacificcalm_Preview.png);
}
 .slide.psychology {
    content: url(Assets/pacificcalm_psycology.png);
}
.slide.mockups {
    content: url(Assets/pacificcalm_mockup.png);
}

.slide2.preview2 {
    content: url(Assets/aayu_preview.png);
}
 .slide2.psychology2 {
    content: url(Assets/aayu_psycology.png);
}
.slide2.mockups2 {
    content: url(Assets/aayu_mockup.png);
}

.otherLogos, .posters {
    height: 25%;
    width: 900px;
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
}
.posters {
    height: 100%;

}
.slider-container {
    height: 200px;
    width: 900px; /* Adjust the width as needed to show 3 images at a time */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }
  
  .slider, .sliderPoster {
    display: flex;
    transition: 0.5s cubic-bezier(.79,.09,.24,.96);
}
  
  .logoSlide {
    flex: 0 0 33.33%; /* Each slide takes up 33.33% of the container width */
    /* margin: 0 10px 0 10px ; */
  }
  
  .slider img {
      height: 200px;
    width: 290px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  
  .prev-button, .prev-button2, .next-button, .next-button2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: var(--hoverColor); */
    color: #000000;
    border: none;
    padding: 10% 5px;
    cursor: pointer;
    opacity: .3;
    mix-blend-mode: difference;
    /* 'normal',
    'multiply',
    'screen',
    'overlay',
    'darken',
    'lighten',
    'color-dodge',
    'color-burn',
    'hard-light',
    'soft-light',
    'difference',
    'exclusion',
    'hue',
    'saturation',
    'color',
    'luminosity' */
  }
  
  .prev-button, .prev-button2 {
    left: 0;
  }
  .next-button, .next-button2 {
    right: 0;
  }
  .posters {
    height: 100%;
  }
  .slider-container-posters {
    width: 100%; /* Adjust the width as needed to show 1 images at a time */
    height: 700px; /*: ratio */
    overflow: hidden;
    position: relative;
    object-position: center;
  }

  .posterSlide {
    flex: 0 0 100%;
    width: 100%;
    height: 700px;
        object-fit: contain;
    object-position: center;
    border-radius: 10px;
  }
  .socials {
    height: 40px;
    width: 100%;
    position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.socialIcons {
    height: 100%;
    width: 40%;
    display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        gap: 15px;
}
.socialIcons img {
    width: 15px;
}
.vLine {
    width: 20%;
    border: 1px dashed aliceblue;
    /* background-color: aliceblue; */
}


@media only screen and (min-width: 600px) {

    .navbar.mobile {
        display: none;
    }

    }
@media only screen and (max-width: 600px){
    :root {
        --mainHeading: 32px;
        --subHeading: 25px;
        --smallFont: 15px;
    }
    .logos {
        height: 1400px;
        width: 100vw;
        margin: 200px 0 0 0;
        /* margin-bottom: 200px; */
    }
    .posterDiv {
        height: 1100px;
        width: 100vw;
        padding-bottom: 0;
    }
    .otherLogos, .posters {
        height: 1100px;
        width: 80vw;
    }
    .slide, .slide2, .slides {
        height: 200px;
        width: 360px;
        }
        .pacificCalm, .aayu {
            height: 400px;
            width: 80%;
        }
        .titles {
            margin-bottom: 10px;
        }
        .slider-container {
            height: 235px;
            width: 320px;
        }
        .slider img {
            height: 235px;
            width: 100%;
        }
        .posterSlide {
            width: 100%;
            height: 600px;
          }
          .slider-container-posters {
            width: 100%; /* Adjust the width as needed to show 1 images at a time */
            height: 600px; /*: ratio */
          }

        .socialIcons {
            width: 85%;
        }
        .socials p {
            font-size: calc(var(--smallFont) * 0.8);
        }


    .headerItems.desktop {
        display: none;
        }
    .headerItemsMobile {
        position: fixed;
            top: -7px;
            right: 0px;
            padding-top: 20px;
        width: 100%;
        height: 100vh;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;
            font-size: medium;
        background-color: #05333c;
        overflow: hidden;
        z-index: 7;
        transition: 0.4s cubic-bezier(.43,.28,0,1.01);
        transform: translateX(100%);
    }
    .headerItemsMobile.open {
        transform: translateX(0);
    }
    .slash {
        display: none;
    }
    .hamburger {
        position: absolute;
            top: 20px;
            right: 10px;
        width: 20px;
        z-index: 8;
        display: none;
    }
    .hamburger.cross {
        position: fixed;
        display: none;
        width: 24px;
    }
    .logo {
        width: 130px;
    }

}